html {
  background-color: black;
  padding: calc(85px - 8px) calc(115px - 8px);
}

header {
  height: 300px;
  width: 100vw;
  background-color: black;
}

header > img {
  height: 70px;
  width: 255px;
}

.Category {
  height: 450px;
  width: 100%
}

.CategoryTitle {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.ImageWall {
  display:flex;
  overflow-y:scroll;
}

.ImageWall::-webkit-scrollbar {
  display: none;
}

.FilmCover {
  height: 310px;
  width: 555px;
}